<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-security">

    <head th:fragment="head">
        <title>Creeps</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <!--============== Header =================-->
    <body>

                
        <header th:fragment="header1" class="header1">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0d0d0d; color: #f2e2ce;">
                <div class="container">
                    
                    <!-- Logo -->
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="https://firebasestorage.googleapis.com/v0/b/creeps-2f924.appspot.com/o/Logo.JPG?alt=media&token=d6b53393-63a1-43de-b125-c5b860a23991" alt="Logo" style="width: 100px; height: 100px;"/>
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <!-- Menú central -->
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}" style="color: #f2e2ce;"> <h2>Inicio</h2> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/busqueda/busqueda}" style="color: #f2e2ce;"><h2>Busqueda</h2></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/admin}" style="color: #f2e2ce;"><h2>Admin</h2></a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            <!-- Carrito de compras -->
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_USER')">
                                <a class="nav-link text-white" th:href="@{/carrito/listado}">
                                    <i class="fas fa-shopping-cart"></i>
                                    <!--<span class="badge badge-pill badge-light" th:text="${cartSize}">0</span>-->
                                </a>
                            </li>

                            <!-- Nombre del usuario autenticado -->
                            <li class="nav-item px-2">
                                <i class="fas fa-user"></i>
                                <span sec:authentication="name">Bob</span>
                            </li>

                            <!-- Enlace para iniciar sesión -->
                            <li class="nav-item px-2" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i>
                                </a>
                            </li>

                            <!-- Botón para cerrar sesión -->
                            <li class="nav-item px-2">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn btn-dark">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <header th:fragment="header2" class="header2">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0d0d0d; color: #f2e2ce;">
                <div class="container d-flex justify-content-center">
                    <!-- Logo -->
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="https://firebasestorage.googleapis.com/v0/b/creeps-2f924.appspot.com/o/Logo.JPG?alt=media&token=d6b53393-63a1-43de-b125-c5b860a23991" alt="Logo" style="width: 150px; height: 150px;"/>
                    </a>                    
                </div>
            </nav>
        </header>

        <footer th:fragment="footer" class="footer">
            <div class="container-fluid" style="background-color: #0d0d0d; color: #f2e2ce; padding: 20px 0;">
                <div class="row justify-content-center">
                    <!-- Primer columna -->
                    <div class="col-md-4 text-center" style="padding: 0 15px;">
                        <h5>Centro de Ayuda</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" style="color: #f2e2ce;">Preguntas frecuentes</a></li>
                            <li><a href="#" style="color: #f2e2ce;">Contacto</a></li>                            
                        </ul>                     
                    </div>
                    <!-- Segunda columna -->
                    <div class="col-md-4 text-center" style="padding: 0 15px;">
                        <h5>Compañía</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" style="color: #f2e2ce;">Políticas de Privacidad</a></li>
                            <li><a href="#" style="color: #f2e2ce;">Términos y Condiciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>