<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Creeps</title>
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container">
            <h1>Busqueda</h1>            
            <section th:replace="~{busqueda/fragmentos :: productosGrid}"></section>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>