<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Creeps</title>
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header2}"></header>
        <div class="container-fluid" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/creeps-2f924.appspot.com/o/login.JPG?alt=media&token=dfd9d3ff-d91a-40d8-a707-ffae6a72537d'); background-size: cover; background-position: center; height: 80vh;">                     
            <section th:replace="~{registro/fragmentos :: nuevoUsuario}"></section>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>