<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Creeps</title>
    </head>

    <body> 

        <!--------------------------------------------------->
        <!--Agregar producto-->
        <!--------------------------------------------------->
        
        <form th:fragment="formularioProducto"
            th:action="@{/admin/registrar}" 
            th:object="${producto}"
            method="POST"              
            enctype="multipart/form-data">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="mb-3 text-center">
                          
                            <input type="text" class="form-control mb-3" name="nombre" placeholder="Nombre" aria-label="Nombre">

                            <input type="text" class="form-control mb-3" name="precio" placeholder="Precio" aria-label="Precio">

                            <input type="text" class="form-control mb-3" name="stock" placeholder="Stock" aria-label="Stock">

                            <select class="form-select mb-3" id="talla" name="talla">
                                <option selected>Talla...</option>
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                                <option value="4">XL</option>
                            </select>                            

                      </div>
                  </div>

                  <div class="col-md-6">
                        <div class="mb-3 text-center">
                        
                            <select class="form-select mb-3" id="genero" name="genero">
                                <option selected>Genero...</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>                            

                            <label for="imagen" class="form-label">Ruta Imagen</label>
                            <input class="form-control mb-3" type="file" name="imagenFile" onchange="readURL(this);" placeholder="Ingresar imagen"/>

                            <button class="btn btn-primary" type="submit">Guardar</button>  
                        
                        </div>
                    </div>
                </div>
             </div>
        </form>


        <!--------------------------------------------------->
        <!--Lista de productos-->
        <!--------------------------------------------------->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row justify-content-center"> <!-- Centrar contenido -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Lista de Productos Registrados</h4>
                            </div>
                            <div>
                                <table class="table table-striped table-hover text-center"> 
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Genero</th>
                                            <th>Talla</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Imagen</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto : ${productos}">
                                            <td>[[${producto.idProducto}]]</td>
                                            <td>[[${producto.nombre}]]</td>
                                            <td>[[${producto.genero}]]</td>
                                            <td>[[${producto.talla}]]</td>
                                            <td>[[${producto.precio}]]</td>
                                            <td>[[${producto.stock}]]</td>
                                            <td><img th:src="@{${producto.urlImagen}}" 
                                                     alt="Imagen de [[${producto.nombre}]]" 
                                                     width="100" height="100"></td>   
                                            <td>
                                                <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>Eliminar</a>
                                                <a th:href="@{/producto/modificar/}+${producto.idProducto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i>Modificar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>No hay productos registrados</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>